table, tr, td{
  border: 1px solid black;
  text-align: center;
}
.inner_table{
  width: 100%;
  text-align: center;
}

#name {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


.done_orders_for_every_brigade{
  text-align: center;
  font-size: xx-large;
  border: 2px solid #6f6f6f;
}

.done_orders_for_every_brigade{
  width: 70%;
  margin: 0 auto;
}

.done_orders_for_every_brigade img{
  margin: 0 auto;
  width: 85%;
}

div.export{
  border: 2px solid #6f6f6f;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 50px;

  text-align: center;
}

div.import{
  border: 2px solid #6f6f6f;
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 50px;

  text-align: center;
}

div.export *{
  cursor: pointer;
}

div.import *{
  cursor: pointer;
}

div.today_stats{
  margin: 0 auto;
  width: 300px;
}

.num{
  font-weight: bold;
  font-size: xx-large;
}